.tarjeta2{
    position: relative;
   border-radius: 10px;
   background-color: #FFFFFF;
   width: 300px;
   height:450px;
   margin:0px;
   border:.6px solid #000;
   box-shadow: 0px 5px 10px rgb(0, 0, 0); 
   bottom:24px;
  
}